footer.footer
	.container
		.footer-menu
			.row
				.d-none.d-md-block.col-md-3
					.footer-menu__block
						h4 Физическим лицам
						nav
							a(href="#!") Банкротство физических лиц
							a(href="#!") Трудовые споры
							a(href="#!") Семейные споры
							a(href="#!") Споры в сфере  ЖКХ
							a(href="#!") Земельные споры
							a(href="#!") Помощь автоюриста
				.d-none.d-md-block.col-md-3
					.footer-menu__block
						h4 Меню
						nav
							a(href="#!") Услуги адвоката
							a(href="#!") Схема работы
							a(href="#!") Результаты дел
							a(href="#!") Наша команда  
							a(href="#!") Цены
							a(href="#!") Контакты 
									
				.d-none.d-md-block.col-md-3
					.footer-menu__block
						h4 Юридическим лицам
						nav
							a(href="#!") Корпоративное обслуживание
							a(href="#!") Налоговые споры
							a(href="#!") Торговая марка
							a(href="#!") Взыскание долгов
							a(href="#!") Банкротство юридических лиц
							a(href="#!") Бухгалтерские услуги

				.col-md-3
					.footer-menu__block
						h4 Контакты
						nav
							.footer-address
								p 178452, Саратов, Мытнинская наб., д.13
							.footer-contacts
								a(href="tel:89998887766").footer-contacts-tel
									span
										+phone
									span +7(999)888-77-66
								a(href="mailto:info@gmail.com").footer-contacts-email
									span
										+email
									span info@gmail.com
							.footer-social
								+socialIcons('fab fa-telegram-plane', 'fab fa-facebook-f', 'fab fa-whatsapp', 'fab fa-instagram', 'fab fa-vk')
		.d-none.d-xl-block.footer-logo
			.row
				.col-xl-3
					a(href="index.html").logo
						.logo-img
							img(src="img/logo.png", width='73' alt="logo")
						.logo-text
							p Андреев & Панфилов
							p Услуги опытных юристов
				.col-xl-9
					.footer-descrip
						p Наша миссия: Предоставить качественные юридические услуги в каждом городе России и за ее пределами. Мы являемся коммерческой организацией. Именно поэтому важной целью и условием существования для нас является высокая доходность компании, адекватная качеству оказанных услуг и эффективности всех сотрудников компании.
	.footer-bottom
		.container
			.footer-copyright__text
				.footer-copyright 
					span &copy; 2020 Россия, 
					span Саратов, ОО Андреев & Панфилов
				.footer-links
					a(href="#!").politic-text Политика конфеденциальности
					a(href="#!").rules-text Правила пользования