header.header(style="background-image:url(img/header/mainBg.jpg);")
	+headerTop({nav:[
		{link:'#!', title: 'Услуги'},
		{link:'index.html#work-scheme', title: 'Схема работы'},
		{link:'index.html#success-works', title: 'Результаты дел'},
		{link:'#!', title: 'Наша команда'},
		{link:'#!', title: 'Статьи'},
		{link:'#!', title: 'Контакты'},
		], 
		socials:[{type:'fab fa-telegram-plane'}, {type:'fab fa-facebook-f'}, {type:'fab fa-whatsapp'}, {type:'fab fa-instagram'}, {type:'fab fa-vk'}]
		})
	.container
		.header-center
			h2.head-2.title-decore Представление интересов в суде
			h1.title-1 Банкротство
				p физических и юридических лиц

			p.subtitle Юридический стаж более 10 лет.
			.header-center__btn
				+btn('button', 'Заказать консультацию', '', '','#consultantModal')
				
		+socialIcons('fab fa-telegram-plane', 'fab fa-facebook-f', 'fab fa-whatsapp', 'fab fa-instagram', 'fab fa-vk')