//----CONSULTANT MODAL----//
#consultantModal.formModal.modal.fade(tabindex="-1" role="dialog"  aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			button.close(type="button" data-dismiss="modal" aria-label="Close")
				span(aria-hidden="true") +
					
			.modal-body
				.feedback-form.dark-form
					form
						.modal-form-head
							h3.title-3 Консультация юриста:
							p Чтобы отправить заявку на проведение консультации, заполните пожалуйста форму
						.form-group
							input(type="text" name="userName" )
							span.fake-placeholder Имя
							span.error-notify
							span.error-text Введите имя
						.form-group
							input(type="text" name="userPhone"  class="phone")
							span.fake-placeholder Телефон
							span.error-notify
							span.error-text Введите номер телефона
						.form-group.agree-text
							label(class="form-label")
								input(class="form-checkbox" type="checkbox" name="agreePolitic")
								span.custom-checkbox
								| Принимаю  #[a(href="#") условия обработки] моих данных.
						.form-group
							button.button.button-light(type="submit" ) Отправить заявку

//----application form MODAL----//
#application.formModal.modal.fade(tabindex="-1" role="dialog"  aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			button.close(type="button" data-dismiss="modal" aria-label="Close")
				span(aria-hidden="true") +
					
			.modal-body
				.feedback-form.dark-form
					form
						.modal-form-head
							h3.head-2 Задайте свой вопрос:
							p Наш юрист свяжется с вами в течении 24 часов
						.form-group
							input(type="text" name="userName" )
							span.fake-placeholder Имя
							span.error-notify
							span.error-text Введите имя
						.form-group
							input(type="text" name="userPhone"  class="phone")
							span.fake-placeholder Телефон
							span.error-notify
							span.error-text Введите номер телефона
						.form-group
							textarea(type="text" name="message"  )
							span.fake-placeholder Соообщение
						.form-group.agree-text
							label(class="form-label")
								input(class="form-checkbox" type="checkbox" name="agreePolitic")
								span.custom-checkbox
								| Принимаю  #[a(href="#") условия обработки] моих данных.
						.form-group
							button.button.button-light(type="submit" ) Отправить заявку
					