section.news
	.container
		.news-content
			.flex-head
				h2.title-30.title-decore Новости в юридической сфере:
				.icon-link
					span
						+restart
					a(href="#!") Смотреть все новости
			.news-cards
				.news-cards__row-odd
					a(href="#!").news-card
						.news-card__img
							img(src="img/newsCards/news1.jpg", alt="news")
							.news-card__label 20 мая 2020 / Услуги
						.news-card__text
							p Существуют ли бесплатные юридические консультации?
					a(href="#!").news-card
						.news-card__img
							img(src="img/newsCards/news2.jpg", alt="news")
							.news-card__label 21 мая 2020 / Права граждан
						.news-card__text
							p Несколько вопросов об экспертизе документов.
					a(href="#!").news-card
						.news-card__img
							img(src="img/newsCards/news3.jpg", alt="news")
							.news-card__label 22 мая 2020 / Семейное право
						.news-card__text
							p Соглашение о разделе наследства: порядок заключения и содержание.
				
				.news-cards__row-even
					a(href="#!").news-card
						.news-card__img
							img(src="img/newsCards/news4.jpg", alt="news")
							.news-card__label 23 мая 2020 / Права граждан
						.news-card__text
							p Что нужно знать о разводе?
					a(href="#!").news-card
						.news-card__img
							img(src="img/newsCards/news5.jpg", alt="news")
							.news-card__label 24 мая 2020 / Разъяснения
						.news-card__text
							p «Аванс» или заработная плата за первую половину месяца

					a(href="#!").news-card
						.news-card__img
							img(src="img/newsCards/news6.jpg", alt="news")
							.news-card__label 25 мая 2020 / Права граждан
						.news-card__text
							p  Невыплата заработной платы
