section.reviews
	.container
		.reviews-content
			h2.title-30.title-decore.d-block.d-xl-none Рекомендации наших клиентов:
			.row
				.col-lg-4
					.review-author
						.review-author__img.active(data-img="1")
							.img-wrapper(style="background-image: url(img/review-slider/review.jpg)")
							.photo-title
								p Анна Варфоломеева
								p Дело о трудовых спорах
						.review-author__img(data-img="2")
							.img-wrapper(style="background-image: url(img/review-slider/review2.jpg)")
							.photo-title
								p Алла Пугачева
								p Дело о трудовых спорах
						.review-author__img(data-img="3")
							.img-wrapper(style="background-image: url(img/review-slider/review3.jpg)")
							.photo-title
								p Моника Белуччи
								p Дело о трудовых спорах
				.col-lg-8
					.slider-wrapper
						h2.title-30.title-decore.d-none.d-xl-block Рекомендации наших клиентов:
						.slider-back
							.quot-item.quot-left 	&#10075;&#10075;
							.quot-item.quot-right &#10076;&#10076;
							.reviews-slider.owl-carousel
								.reviews-text(data-index="1" )  Юридическая консультация по трудовому праву была очень полезна и дала свои результаты. Я столкнулась с такой проблемой, как незаконное увольнение. Директор компании, где я работала секретарем, хотела уволить меня. В прошлый четверг она пригласила меня в кабинет и настаивала, чтобы я приней написана заявление на увольнение по собственному желанию. Причем угрожала уволить меня по статье, если я не напишу такое заявление. Не написала заявление, кое как закончила смену. Но записалась на юридическую консультацию к очень хорошему адвокату по трудовому праву Ирину Леонидовну Урадовских.

								.reviews-text(data-index="2")  Я столкнулась с такой проблемой, как незаконное увольнение. Директор компании, где я работала секретарем, хотела уволить меня. В прошлый четверг она пригласила меня в кабинет и настаивала, чтобы я приней написана заявление на увольнение по собственному желанию. Причем угрожала уволить меня по статье, если я не напишу такое заявление. Не написала заявление, кое как закончила смену. Но записалась на юридическую консультацию к очень хорошему адвокату по трудовому праву Ирину Леонидовну Урадовских. Юридическая консультация по трудовому праву была очень полезна и дала свои результаты.

								.reviews-text(data-index="3")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit doloremque, sed delectus accusamus minus adipisci eius perferendis perspiciatis, magni suscipit veritatis, aliquid ullam eaque repellat reiciendis enim modi distinctio saepe. Fugit doloremque, sed delectus accusamus minus adipisci eius perferendis perspiciatis

			.slider-arrow-block
				.slider-arrow.review-slider-arrow
					.review-slider-prev.arrow-icon
						+arrLeft
					.review-slider-next.arrow-icon
						+arrRight
							

