section.interaction-scheme#work-scheme
	.container
		.scheme-content
			h2.title-30.title-decore Схема взаимодействия с клиентом:
			.scheme-block
				+schemeCard('01', 'Первый контакт', 'Заявка с сайта, телефонный звонок и др. Я перезваниваю по номеру вашего телефона. Краткое ознакомление со сложившейся ситуацией. Договариваемся о встрече.')
				+schemeCard('02', 'Встреча', 'Обсуждаем ситуацию. Изучаю имеющиеся документы. Накидываем варианты развития событий, определяем недостающие документы, консультирую по возникшим вопросам. Определяем приемлемую для вас стратегию.')
				+schemeCard('03', 'Заключаем договор', 'Обсуждаем условия нашего сотрудничества. Заключаем письменный договор на оказание юридических услуг.') 
				+schemeCard('04', 'Сбор документов и доказательств', 'Осуществляем сбор дополнительных документов, делаем запросы. Вы производите оценку, имущества, приглашаем иных специалистов. Дополнительно согласовываем линию поведения.') 
				+schemeCard('05', ' Составление процессуальных документов', 'Составление запросов, уведомлений. Составление искового заявления (возражений на иск) и иных процессуальных документов (ходатайства, пояснения, жалобы и др.).') 
				+schemeCard('06', 'Изучаем законодательство', 'Изменения в действующем законодательстве, свежие разъяснения Верховного суда РФ, обзоры судебной практики по аналогичным делам.') 
				+schemeCard('07', 'Контроль судебного процесса', 'Постоянно нахожусь с Вами на связи. В случае необходимости принятия поворотных моментов по делу совместно их обсуждаем. Контролирую процесс судопроизводства.') 
				+schemeCard('08', ' Представительство в суде', 'В зависимости от избранной стратегии: участвую в судебных заседаниях, произвожу ознакомление с материалами судебного дела, результатами экспертного заключения и др. ') 
				+schemeCard('09', 'Получение решения суда, исполнительного документа', 'Контролирую правильность принятого судебного акта по делу. После вступления решения суда в законную силу, получаю решение суда (определение, постановление) и исполнительный документ. ') 
				+schemeCard('10', 'Результаты судебного спора', 'При необходимости подаю заявление об исправлении описки в судебном акте. Консультирую о последствиях принятого судебного акта и процессуальных сроках на его обжалование. Консультирую по вопросу взыскания судебных расходов.')
	include _consultant-form.pug 