section.service-cards.inner-section
	.container
		.services-list
			ul.marker-list.marker-list--circle
				li Защита имущества<br> и&nbsp;активов
					
				li  Гарантированное легальное исключение из ЕГРЮЛ 
					
				li Полное или частичное<br> списание долгов
					
				li Защита от субсидиарной<br> ответственности
		.service-cards__wrapper
			h2.title-30.title-decore Услуги для физических и юридических лиц:
			.row
				+serviceCard('dir1','Расторжение брака и раздел имущества ', 'Наш юрист по разводам качественно и оперативно окажет услуги по оформлению этой неприятной процедуры: соберет документы для развода через суд, составит соглашение о разделе имущества...')
				+serviceCard('dir2','Определение места жительства ребёнка', 'Определение места жительства ребенка, порядка встреч с ним и разрешении на выезд заграницу несовершеннолетних детей...')
				+serviceCard('dir3','Определение порядка общения с ребёнком ', ' Как правило, споры между родителями о порядке общения с ребенком возникают после расторжения брака. В подавляющем большинстве случаев после... ')
				+serviceCard('dir4','Снятие граждан с регистрационного учета', 'Поскольку право человека на жилище также гарантировано Конституцией РФ, для того, чтобы суд признал вескими основания выселить и снять с регистрационного учета гражданина...')
				+serviceCard('dir5','Ограничение и лишение родительских прав', 'Решение вопроса о лишении или ограничении родительских прав - процедура достаточна сложная для простого обывателя. Кроме того, такая категория дел чаще всего сопровождается конфликтами...')
				+serviceCard('dir6','Взыскание алиментов с лица, обязанного уплачивать алименты', 'Требование о взыскании средств на содержание несовершеннолетнего ребенка может быть предъявлено в суд до достижения ребенком возраста восемнадцати лет либо до приобретения им полной дееспособности...')