section.service-cost
	.container
		.service-cost-content
			h2.title-30.title-decore Стоимость юридических услуг:
			.subtitle
				p В условиях договора мы можем предусмотреть следующие способы расчета стоимости услуг:
				p Стоимость услуг определяется с учетом конкретной ситуации и сопутствующих обстоятельств.
			.service-cost-list.marker-list
				ul
					li Фиксированная стоимость при условии аванса
					li Гонорар успеха: сумма определяется в зависимости от достижения требуемого результата в судебном или переговорном процессе 
					li Почасовая оплата работы юриста, исходя из средней ставки 6-8 тысяч рублей в час
					li Комбинация всех вышеперечисленных способов