section.success#success-works
	.container
		.success-content
			.row
				.d-none.d-lg-block.col-lg-6
					.slider-wrappper
						.success-works-pic
							a(href="#!" data-img="1").success-work__img.active
								img(src="img/success-works/docs.png", alt="documents")
							a(href="#!" data-img="2").success-work__img
								img(src="img/success-works/docs2.png", alt="documents")

				.col-lg-6
					.slider-wrapper
						h2.title-30.title-decore Примеры выигранных дел:
						.success-works.owl-carousel
							.success-work-slider(data-index="1" )
								.success-work__text
									h4 Оспаривание отцовства
									p По общему правилу сведения о матери ребенка вносятся в актовую запись о его рождении на основании справки из роддома. При этом, если на момент рождения ребенка мужчина и женщина состоят в зарегистрированном браке, сведения об отце ребенка вносятся в актовую запись о рождении автоматически на основании свидетельства о браке (такое правило действует также при рождении ребенка в течение трехсот дней со дня расторжения между ними брака). 
									p Оспаривание отцовства возможно лишь в судебном порядке. В целях установления биологического отцовства по подобным спорам проводится судебная молекулярно-генетическая экспертиза, результаты которой учитываются судом при вынесении решения.
									.work-document
										a(href="#!").text-14
											+linkIcon
											span Смотреть документ

							.success-work-slider(data-index="2" )
								.success-work__text
									h4 Опекунство
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nulla, ipsum suscipit consequatur error officia consectetur ex similique est quod labore laboriosam totam aperiam natus exercitationem at dolorem accusantium. Nostrum.
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nulla, ipsum suscipit consequatur error officia consectetur ex similique est quod labore laboriosam totam aperiam natus exercitationem at dolorem accusantium. Nostrum.
									.work-document
										a(href="#!").text-14
											+linkIcon
											span Смотреть документ
						.slider-arrow-block
							.slider-arrow.success-arrow
								.success-prev.arrow-icon
									+arrLeft
								.success-next.arrow-icon
									+arrRight