section.team
	.container
		h2.title-30.title-decore.d-block.d-xl-none Наша команда юристов:
		.team-content
			.slider-wrapper.slider-wrapper--left
				h2.title-30.title-decore.d-none.d-xl-block Наша команда юристов:
				.team-slider.owl-carousel
					.team-slide__text(data-index="1")
						p Александр Михайлович Панфилов — профессиональный юрист, практикующий в г. Саратове. Для первичного ознакомления с Вашим делом, предлагаю встретиться в моем офисе. Вы также можете получить первичную консультацию по телефону и договориться о личной встрече. При определенных обстоятельствах, готов самостоятельно приехать на встречу в городе или области, для оказания юридической помощи на месте. Имею опыт работы в следственных органах, адвокатуре и судьей федерального суда. Специализация — гражданско-правовая, что не исключает возможность оказания юридической помощи в различных отраслях права. Квалифицированная юридическая помощь для граждан в области гражданского, административного, земельного, налогового, семейного, трудового права. Арбитраж. Представление интересов в суде. Составление претензий, исковых заявлений и возражений, заявлений, апелляционных, кассационных и надзорных жалоб.
						
					.team-slide__text(data-index="2")
						p Андрей Резник — профессиональный юрист, практикующий в г. Саратове. Для первичного ознакомления с Вашим делом, предлагаю встретиться в моем офисе. Вы также можете получить первичную консультацию по телефону и договориться о личной встрече. При определенных обстоятельствах, готов самостоятельно приехать на встречу в городе или области, для оказания юридической помощи на месте. Имею опыт работы в следственных органах, адвокатуре и судьей федерального суда. Специализация — гражданско-правовая, что не исключает возможность оказания юридической помощи в различных отраслях права. Квалифицированная юридическая помощь для граждан в области гражданского, административного, земельного, налогового, семейного, трудового права. Арбитраж. Представление интересов в суде. Составление претензий, исковых заявлений и возражений, заявлений, апелляционных, кассационных и надзорных жалоб.
						
				.team-slide__footer
					.team-slide__buttons
						+btn('button','Заказать консультацию', '','light', '#consultantModal' )
						.work-document
							a(href="#!" data-link="1").certificate.text-14.active
								+linkIcon
								span Смотреть диплом об образовании1

							a(href="#!" data-link="2").certificate.text-14
								+linkIcon
								span Смотреть диплом об образовании2
			.d-none.d-lg-block.slider-wrappper.slider-wrapper--right
				.team-slider__pic
					img(src="img/placeholder.jpg", alt="placeholder")
					a(href="personal.html" data-img="1").team-slide__img.active
						img(src="img/team/team1.jpg", alt="teammate")
						.photo-title
							p Александр Панфилов
							p юрист
					a(href="personal.html" data-img="2").team-slide__img
						img(src="img/team/team2.jpg", alt="teammate")
						.photo-title
							p Андрей Резник
							p юрист
				
			.slider-arrow-block
				.slider-arrow.team-slider-arrow
					.team-slider-prev.arrow-icon
						+arrLeft
					.team-slider-next.arrow-icon
						+arrRight
