extends ../layouts/layout.pug

block content	
	+fixHeader([{link:'#!', title: 'Услуги'},{link:'index.html#work-scheme', title: 'Схема работы'},{link:'index.html#success-works', title: 'Результаты дел'},{link:'#!', title: 'Наша команда'},{link:'#!', title: 'Статьи'},{link:'#!', title: 'Контакты'}])
	include ../sections/_header.pug
	include ../sections/_service-cards.pug	
	include ../sections/_success.pug
	include ../sections/_team.pug
	include ../sections/_scheme.pug
	include ../sections/_service-cost.pug
	include ../sections/_faq.pug
	include ../sections/_reviews.pug
	include ../sections/_news.pug
	include ../sections/_footer-form.pug
	+partners
	include ../sections/_footer-big.pug
	include ../sections/_modals.pug


block variables
	-var title = "Главная";